html,
body{
    margin: 0;
    padding: 0;
}
#etchASketch{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 10px;
}

#row{
    display: flex;
    flex-grow: 1;
}
.square{
    flex-grow: 1;
    background-color: white;
}

