html,
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(./photos/space.png);
    background-size:cover;
    background-repeat: no-repeat;
}

#header{
    width: max-content;
    height: 25vh;
}

#etchASketch{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 10px;
}

#row{
    display: flex;
    flex-grow: 1;
}
.square{
    flex-grow: 1;
    background-color: white;
}

